<app-toast-ui 
[isShowToast]="isShowToast"
[Title]="toastContent"
[isToastTypeSuccess]="isToastTypeSuccess">
</app-toast-ui> 

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-5 d-none d-md-block leftLogin"  >
    </div>
    <div class="col-md-5 rightLogin"  >
      <div><h3 class="heading">{{'AUTH.LOGIN.Heading'| translate }} </h3></div>
      <form [formGroup]="loginForm" >
      <div class="form-group mb-4">
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" style="height: 40px;"><i class="pi pi-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="{{'AUTH.LOGIN.UserNamePlaseholder'| translate }} " autocomplete="username" required formControlName="username">
        </div>
        <div *ngIf="username?.touched && username?.invalid" class="alert alert-danger erroMsg">
          {{'AUTH.LOGIN.UserNameInvalid'| translate }}
        </div>
      </div>
      <div class="form-group mb-4">
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" style="height: 40px;"><i class="pi pi-lock"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="{{'AUTH.LOGIN.PasswordPlasholder'| translate }}" autocomplete="current-password" required formControlName="password" id="password">
        </div>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger erroMsg">
          <div *ngIf="password?.errors">
          {{'AUTH.LOGIN.PasswordEmpty'| translate }}  
          </div>
        </div>
      </div>
      <div class="row loingBtn">
        <button type="submit" class="btn btn-primary "  (click)="onLogin()"> {{'AUTH.LOGIN.Login'| translate }} </button>
      </div>
      <div class="row">
        <div class="col-7" >
          <p style="text-align: right; margin-top: 8px;">{{'AUTH.LOGIN.UserDoNotHaveAccount'| translate }}</p>
        </div>
        <div class="col-5"  >
          <button pButton type="button" label="{{'AUTH.LOGIN.SignUp'| translate }}"  (click)="navigateToSignUp()" class="p-button-link"></button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>

  <app-loading-ui
  [Title]="loadingTitle"
  [blockedDocument]="isBlock">
</app-loading-ui>











