.cardConfig {
  margin: 10px;
  margin-left: 0px;
  padding: 20px;
}
.erroMsg {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.formGropClass {
  margin-top: 10px;
}
.heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.imgConfig {
  margin: 10px;
  margin-right: 0px;
  padding: 20px;
}
.loingBtn {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
.loginSide {
  margin-top: 20px;
}

.leftLogin {
  background-image: url("https://img.freepik.com/free-vector/sign-page-abstract-concept-illustration_335657-3875.jpg?w=740&t=st=1660647296~exp=1660647896~hmac=d9cc51328bac7e677c416da48516ee685c459dff7626ce341df90860afbc72b7");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg {
  background-color: rgba(240, 255, 255, 0.5);
}

.fg {
  background-color: white;
}
