<app-toast-ui
  [isShowToast]="isShowToast"
  [Title]="toastContent"
  [isToastTypeSuccess]="isToastTypeSuccess"
>
</app-toast-ui>


<div class="stepsdemo-content">
<div
  class="container-fluid vh-100 d-flex flex-column justify-content-center bg"
>
  <div class="col-12 col-md-5 shadow mx-auto row fg">
    <div class="col-md-4 leftLogin border-end my-3"></div>
    <div class="col-md-8 rightLogin py-3 px-5">
      <div class="card-body d-flex flex-column justify-content-center">
        <h4 class="m-3 text-center">LOGIN</h4>
        <form [formGroup]="loginForm">
          <div class="form-group mb-4">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text" style="height: 40px"
                  ><i class="pi pi-user"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="{{
                  'AUTH.LOGIN.UserNamePlaseholder' | translate
                }} "
                autocomplete="username"
                required
                formControlName="username"
              />
            </div>
            <div
              *ngIf="username?.touched && username?.invalid"
              class="alert alert-danger erroMsg"
            >
              {{ "AUTH.LOGIN.UserNameInvalid" | translate }}
            </div>
          </div>
          <div class="form-group mb-4">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text" style="height: 40px"
                  ><i class="pi pi-lock"></i
                ></span>
              </div>
              <input
                type="password"
                class="form-control"
                placeholder="{{ 'AUTH.LOGIN.PasswordPlasholder' | translate }}"
                autocomplete="current-password"
                required
                formControlName="password"
                id="password"
              />
            </div>
            <div
              *ngIf="
                password?.invalid && (password?.dirty || password?.touched)
              "
              class="alert alert-danger erroMsg"
            >
              <div *ngIf="password?.errors">
                {{ "AUTH.LOGIN.PasswordEmpty" | translate }}
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-primary btn-sm"
              (click)="onLogin()"
            >
              Login
            </button>
          </div>
          <div class="row d-flex flex-row justify-content-center mt-3">
            <p class="w-auto">Need to Sign up?</p>
            <p (click)="navigateToSignUp()" class="btn-link w-auto">Sign up</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<app-loading-ui [Title]="loadingTitle" [blockedDocument]="isBlock">
</app-loading-ui>
