
  <p-carousel
  [value]="pharmacyCard"
  styleClass="custom-carousel"
  [numVisible]="4"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  
>
  <ng-template pTemplate="header">
    <h2 class="heading mt-4 mb-4 mb-6" >Pharmacies</h2>
  </ng-template>
  <ng-template let-product pTemplate="item">
    <div class="product-item mb-4" style="margin-top: 20px; margin-left: 75px;">
        <app-pharmacy-card [item]="product" (childEvent)="greet($event)" ></app-pharmacy-card>

    </div>
  </ng-template>
</p-carousel>