.background {
  background-image: url("https://images.theconversation.com/files/256057/original/file-20190129-108364-17hlc1x.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop");
}

.leftRegister {
  background-image: url("https://img.freepik.com/free-vector/sign-page-abstract-concept-illustration_335657-3875.jpg?w=740&t=st=1660647296~exp=1660647896~hmac=d9cc51328bac7e677c416da48516ee685c459dff7626ce341df90860afbc72b7");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rightRegister {
}

.erroMsg {
  font-size: 0.8rem;
}
