

.heading{
    text-align: center;
    font-size: 30px;
}

.background{
    background-image: url("https://images.theconversation.com/files/256057/original/file-20190129-108364-17hlc1x.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop");

}
.register{
    min-height: 60vh;
    background-color: red;
}