<div class="container-fluid onlineServices " style="padding-top: 10px;">
    <div class="row align-items-center  justify-content-center pt-3 pb-3 ">

      <div class="col-md-2 d-flex flex-row " >
        <i class="pi pi-shopping-cart  mx-1 me-4" style="font-size: 25px;color:#52aef4ff"></i>
        <p class="deliveryText">Home delivery</p>
      </div>
  
      <div class="col-md-2 d-flex flex-row ">
        <i class="pi pi-slack  mx-1 me-4" style="font-size: 25px;color:#52aef4ff"></i>
        <p class="deliveryText">Pay Securely</p>
      </div>

      <div class="col-md-3 d-flex flex-row ">
        <i class="pi pi-map mx-1 me-4" style="font-size: 25px;color:#52aef4ff"></i>
        <p class="deliveryText">Wide range of Assortments</p>
      </div>

      <div class="col-md-2 d-flex flex-row ">
        <i class="pi pi-credit-card mx-1 me-4" style="font-size: 25px;color:#52aef4ff"></i>
        <p class="deliveryText">Customer Service Support</p>
      </div>
      
    </div>
  </div>


  <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-5  left " style="background-image: url({{image1}});">
            <div class="row">
                <p class="prescription">UPLOAD YOUR PRESCRIPTIONS</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <p class="prescriptionDescription">Order online and have your prescription medication delivered straight to your home.</p>
                </div> 
            </div>
            <div class="row justify-content-center">
                <div class="col-5 " >
                  <button pButton pRipple type="button" label="Upload Prescription" (click)="showDialog()" class="p-button-sm ms-3 p-button-rounded p-button-warning"></button>
                </div>
           </div>
        </div>
        
        <div class="col-md-5 right"  style="background-image: url({{image2}});">

            <div class="container">
                <div class="row rowDown">
                    <div class="col-md-12">
                    <div class="row" >
                      <div class="col-md-10 ">
                        <h5>Weight Management & Slimming</h5>

                      </div>
                      
                    </div>
                    <div class="row align-items-center" >
                        <div class="col-md-8 ">
                            <p style="text-align: justify;">Enhance your metabolism, maintain a healthy appetite and minimize cravings with our effective weight management and slimming products.</p>
                        </div>
                        <div class="col-md-3 ms-4 mb-5 justify-content-end">
                            <button pButton pRipple type="button" label="Shop Now" class="p-button-sm py-1 px-2 p-button-rounded p-button-warning"></button>
                        </div>
                    </div>
                    </div>
                  </div>
            </div>
      </div>
    </div>
  </div>

  <p-dialog  [(visible)]="display" [style]="{width: '50vw'}">
    <div>
      <app-image-upload></app-image-upload>
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="display=false" label="Close" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>