.firstNav{
    background-color: rgba(8, 38, 209, 0.986);
    height: 5vh;
}
.firstNavItems{
     color: white;
     font-size: 14px;
}
.secondNav{
    padding-top: 10px;
    background-color: rgba(64, 88, 223, 0.986);
    height: 10vh;
}
.pharmacyName{
    font-size: 30px;
    font-style: italic;
    color: white;
    text-align: center;
}

