<p-dialog  [(visible)]="display" [style]="{width: '80vw'}">
 
  <div class="card">
    <h5>Filter Row</h5>
    <p>Filters are displayed inline within a separate row.</p>
    <p-table #dt2 [value]="products" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name','country.name','representative.name','status']" [tableStyle]="{'min-width':'75rem'}">
        <!-- <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width:22%">Name</th>
                <th style="width:22%">Image</th>
                <th style="width:22%">Price</th>
                
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="image"></p-columnFilter>
                </th>
            
                <th>
                    <p-columnFilter type="boolean" field="price"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    {{customer.name}}
                </td>
                <td>
                    <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + customer.image" width="30">
                    <span class="image-text">{{customer.image}}</span>
                </td>
                <td>
                  {{customer.price}
              </td>
                <!-- <td>
                    <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
                </td> -->
                
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No products found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


  
</p-dialog>

<div class="container-fluid">
  <div class="row justify-content-md-end firstNav">
    <ng-container *ngIf="isPrevOk == true">
      <div class="col-md-1 mt-1 d-flex flex-row">
        <a
          (click)="onNavigateToDashboard()"
          class="badge badge-light firstNavItems"
          ><p>Dashboard</p></a
        >
      </div>
    </ng-container>

    <!-- <li class="nav-item">

      <a class="nav-link" (click)="onLogOut()">My Pharmacy</a>
    </li>
 -->

    <div class="col-md-1 mt-1 d-flex flex-row">
      <a href="/location" class="badge badge-light firstNavItems">
        <p>Branch Network</p>
      </a>
    </div>

    <div class="col-md-1 ms-4 mt-1 d-flex flex-row">
      <a class="badge badge-light firstNavItems"><p>98765432100</p> </a>
    </div>

    <div class="col-md-1 mt-1 d-flex flex-row">
      <p-avatar
        image="assets/profile.png"
        styleClass="mr-2"
        size="small"
        shape="circle"
      ></p-avatar>
    </div>
  </div>
  <div class="row secondNav justify-content-end">
    <div class="col-md-4">
      <p class="pharmacyName">{{ dataName }}</p>
    </div>
    <div class="col-md-3">
      <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0"   (click)="onSearch()" >Search</button>
      </form>
    </div>
    <div class="col-md-2">
      <button
        pButton
        pRipple
        type="button"
        label="Upload Prescription"
        (click)="onUpload()"
        class="p-button-sm py-1 mt-1 p-button-rounded p-button-warning"
      ></button>
    </div>
    <div class="col-md-1">
      <a href="/landing" class="badge badge-light" style="text-decoration: none"
        ><p class="firstNavItems mt-1">Home</p></a
      >
    </div>
    <div class="col-md-1">
      <a href="/login" class="badge badge-light" style="text-decoration: none"
        ><p class="firstNavItems mt-1">Sign Out</p></a
      >
    </div>
    <div class="col-md-1">
      <a href="/cartList" class="badge badge-light mt-1">
        <i class="pi pi-shopping-cart"></i>
      </a>
    </div>
  </div>
</div>
