

.firstNav{
    background-color:#52aef4ff;
    height: 5vh;
}
.firstNavItems{
     color: white;
     font-size: 14px;
}
.secondNav{
    padding-top: 10px;
    background-color:#52aef4ff;
    height: 10vh;
    opacity: 0.8;
}
.pharmacyName{
    font-size: 30px;
    font-style: italic;
    color: white;
    text-align: center;
}

