<div class="container-fluid">
   
    <div class="row justify-content-end firstNav" >
        <div class="col-1">
            <a href="#" class="badge badge-light"><p class="firstNavItems">My Account</p></a>
        </div>
        <div class="col-1">
            <a href="#" class="badge badge-light"> <p class="firstNavItems">Branch Network</p> </a>
        </div>
        <div class="col-1 align-self-end">
            <a href="#" class="badge badge-light"><p class="firstNavItems">+9453245689 </p> </a>
          </div>
          <div class="col-1 align-self-end">
          </div>
      </div>
      <div class="row secondNav">
        <div class="col-4">
            <p class="pharmacyName">ABC Pharmacy</p>
        </div>
        <div class="col">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              </form>
        </div>
        <div class="col-2">
            <button pButton pRipple type="button" label="Upload Prescription" class="p-button-rounded p-button-warning"></button>
        </div>
        <div class="col-1">
            <a href="#" class="badge badge-light"><p class="firstNavItems">Sign in</p></a>
        </div>
        <div class="col-1">
            <a href="#" class="badge badge-light">     
                  <i class="pi pi-shopping-cart"></i>
            </a>
        </div>
      </div>
    

  </div>