

.firstNav{
    background-color:rgb(9, 37, 158);
  
}
.firstNavItems{
     color: white;
     font-size: 14px;
     text-decoration: none;
     
}
.secondNav{
    padding-top: 15px;
    background-color:rgba(11, 97, 168, 0.952);
  
}
.pharmacyName{
    font-size: 25px;
    font-style: italic;
    color: white;
    text-align: center;
}

