<div class="card"  style="width: 14rem;padding-bottom: 20px;" severity="danger" size="xlarge" styleClass="mr-2">
  <div class="card-columns">
    <img class="card-img-top" src="https://localhost:5001{{item.image}}" alt="Card image cap" />
    <div class="card-body">
      <div class="container">
        <div class="row rowStyle">
          <div class="col-sm">
            <p class="medName">{{ item.name }}</p>
           
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col-sm ms-4">
            <p-rating
              [readonly]="true"
              [cancel]="false"
              [(ngModel)]="item.ratingNumber"

            ></p-rating>
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col-sm">
            <p class="medPrice">Tel: {{ item.contact_Number }}</p>
            <p></p>
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col-sm">
            <p class="medPriceRemove">{{item.address}}</p>
            <p></p>
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col">
            <ng-container *ngIf="item.isSelect == false; else setSelected">
              <button
              pButton
              pRipple
              type="button"

              label="Selected"
              class="p-button-outlined py-1  p-button-rounded p-button-danger btnStyleSelectedItem"
            ></button> 

            </ng-container>
            <ng-template #setSelected>
              <button
              pButton
              pRipple
              type="button"
              (click)="select(item)"
              label="Select"
              class="p-button-outlined py-1 px-3 btnClass p-button-rounded btnStyle"
            ></button>
            </ng-template>
            <ng-container *ngIf="item.isSelect == false; else setSelectedw">
              <label>Minimum Distance :{{item.name}}</label>

            </ng-container>
            <ng-template #setSelectedw>
              <label>Distance :{{item.name}}</label>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
