<div class="container-fluid">
    <div class="row mainWallpaper">
        <div id="slider" class="mainWallpaper">
        <figure>
        <img src="https://thumbs.dreamstime.com/b/doctor-medical-background-24834402.jpg" alt>
        <img src="https://image.shutterstock.com/image-vector/healthcare-online-pharmacy-app-concept-260nw-1512785948.jpg" alt>
        <img src="https://media-exp1.licdn.com/dms/image/C4E12AQH5BLoP9bI7Tg/article-inline_image-shrink_1500_2232/0/1628963686925?e=1663200000&v=beta&t=TGlzvzl9Q6M_Adr3H5SddK2V78EbQAOe1YBesCJ8-dg" alt>
        <img src="https://www.loyalmedicosonline.com/pub/media/wysiwyg/zozothemes/medicalshop/homepage/02/slider/Slide-2-Online-Pharmacy.jpg" alt>
        <img src="https://lh3.googleusercontent.com/8SpE-xFPLC4wG5r8rFXLxzrJvXSXEcVkEl_koiHwg1LK1qBFV3kIz41vcXhheJysJCYub-jyIFoyMKYvtf9d12adt_Rz6kfSIvvRkFQdsKD8C1E6Jcz9JF9-mHqNl3NY0xcuGDWs" alt>
        </figure>
        </div>
    </div>
</div>