<input type="file" class="file-upload" (onchange)="onFileSelected($event)">

<p-card header="" subheader=""   styleClass="p-card-shadow ">
    <ng-template pTemplate="header">
            <p-fileUpload name="demo[]"
                    accept="image/*" [auto]="true" (onUpload)="onUpload($event)"  >
                    <ng-template pTemplate="content">
                    </ng-template>
            </p-fileUpload>
    </ng-template>
    <div class="container">
        <div class="row ">
                <div class="col-md-3">
                    <label><p>Medicine : </p></label>
                </div>
                <div class="col-md-2">
                    <input type="text" [(ngModel)]="name" pInputText placeholder="Name">         
                </div>  
        </div>
        <div class="row">
            <div class="col-md-3" >
                <label><p>Price $ : </p></label>
                </div>
                <div class="col-md-2" >
                    <input type="text" [(ngModel)]="price" pInputText placeholder="Price">   
                </div> 
       </div>
        <div class="row">
             <div class="col-sm">
                <p-rating [(ngModel)]="ratingNumber"></p-rating>
              </div>
        </div>
    </div>
        <ng-template pTemplate="footer">

            <div class="row ">
                <div class="col">
                    <p-button label="Save" icon="pi pi-check" (click)="onSave()" styleClass="p-button-sm py-1 px-2"></p-button>
                    <p-button label="Cancel" icon="pi pi-times" (click)="onCancel()" styleClass="p-button-secondary p-button-sm py-1 px-2" [style]="{'margin-left': '.5em'}"></p-button>
             
                 </div>
           </div>
          </ng-template>
</p-card>