
<p-card header={{name}} subheader={{price}} [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://www.healthguard.lk/pub/media/catalog/product/cache/207e23213cf636ccdef205098cf3c8a3/e/r/ervenin_presoil_1.jpg">
  


    </ng-template>
    <div class="container">
        <div class="row">
             <div class="col-sm">
                <p-rating [(ngModel)]="ratingNumber"></p-rating>
              </div>
        </div>
    </div>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check" (click)="onAddRating()"></p-button>

          </ng-template>
</p-card>