<div class="card"  style="width: 14rem;padding-bottom: 20px;">
  <div class="card-columns">
    <img class="card-img-top" src="{{ item.image }}" alt="Card image cap" />
    <div class="card-body">
      <div class="container">
        <div class="row rowStyle">
          <div class="col-sm">
            <p class="medName">{{ item.name }}</p>
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col-sm ms-4">
            <p-rating
              [readonly]="true"
              [cancel]="false"
              [(ngModel)]="item.ratingNumber"
            ></p-rating>
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col-sm">
            <p class="medPrice">LKR : {{ item.price }}</p>
            <p></p>
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col-sm">
            <p class="medPriceRemove">LKR : {{ item.prevPrice }}</p>
            <p></p>
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col">
            <button
              pButton
              pRipple
              type="button"
              (click)="addToCart(item)"
              label="Add to Cart"
              class="p-button-outlined py-1 px-2 p-button-rounded btnStyle"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
