
<div class="card" style="width: 14rem;" >
    <div class="card-columns">
      <img class="card-img-top" src={{image}} alt="Card image cap">
      <div class="card-body">
          <div class="container">
              <div class="row rowStyle" >
                <div class="col-sm">
                  <p class="medName ">{{name}}</p>
                </div>
              </div>
              <div class="row rowStyle">
                <div class="col-sm">
                    <p-rating [(ngModel)]="ratingNumber"></p-rating>
                </div>
              </div>
              <div class="row rowStyle">
                  <div class="col-sm" >
                      <p class="medPrice">LKR : {{price}}<p>
                  </div>
                </div>
                <div class="row rowStyle" >
                  <div class="col-sm" >
                      <p class="medPriceRemove">LKR : {{price}}<p>
                  </div>
                </div>
                <div class="row rowStyle" >
                  <div class="col " >
                    <button pButton pRipple type="button"  label="Add to Cart" class="p-button-outlined  py-1 px-2 p-button-rounded btnStyle"></button>
                  </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  
  