<div class="container" style="background-color: rgb(145, 95, 95); height:400px">

  <div class="row align-items-end" style="background-color: rgb(3, 62, 85);">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>



<div class="container mt-4" style="background-color: rgb(1, 155, 60); height:400px">
  <div class="row">
    <div class="col align-self-start" style="background-color: rgb(161, 168, 93); height:100px">
      One of three columns
    </div>
    <div class="col align-self-center" style="background-color: rgb(151, 48, 165); height:100px">
      One of three columns
    </div>
    <div class="col align-self-end"  style="background-color: rgb(48, 66, 165); height:100px">
      One of three columns
    </div>
  </div>
</div>