<h3 style="text-align:center" class="mt-2 mb-4">Pharmacy Location</h3>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-2">
          </div>
           <div class="col-md-10">
        <app-map></app-map>
      </div>
 
    </div>
    <div class="row mt-3 mb-4 justify-content-md-center">
      <div class="col-md-1 ">
      </div>
      <div class="col-md-1 ">
          <button pButton pRipple type="button" label="Back"  (click)="onBack()" class="p-button-raised p-button-sm"></button>
       </div>
   </div>
</div>
