
<app-toast-ui 
[isShowToast]="isShowToast"
[Title]="toastContent"
[isToastTypeSuccess]="isToastTypeSuccess">
</app-toast-ui> 
<h1 class="heading">Welcome to ENZY Pharmacy Platform</h1>

<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="card cardStyle" style="width: 50vw;">
        <div class="card-body ">
            <h3 class="headingDev">Pharmacy Owner Details</h3>
            
            <form [formGroup]="registrationForm" >
                <div class="form-group ">
                    <div class="row justify-content-md-center">
                        <div class="col-md-6 mt-3">
                            <div class="input-group mb-2 col-md-4">
                                <span class="p-float-label" style="width: 400px;">
                                <input type="text" [(ngModel)]="ngFirstName" class="form-control" pInputText  required   formControlName="firstName">
                                <label for="float-input">First Name</label>
                            </span>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="input-group mb-2 col-md-">
                                <span class="p-float-label" style="width: 400px;">
                                    <input type="text" [(ngModel)]="ngLastName" class="form-control" pInputText   placeholder="Last Name"  required formControlName="lastName">
                                    <label for="float-input">Last Name</label>
                                </span>
                            </div>
                        </div>
                        <div class="input-group mb-2  col-md-6 mt-3">
                            <span class="p-float-label" style="width: 800px;">
                                <input type="text" pInputText [(ngModel)]="ngEmail"  class="form-control" placeholder="E-mail"  required formControlName="email">
                                <label for="float-input">Email</label>
                            </span>
                        </div> 
                        <div *ngIf="email?.touched && email?.invalid" class="alert alert-danger erroMsg">
                            E-mail is not valid
                        </div>
                        <div class="input-group mb-2  col-md-6 mt-3">
                            <span class="p-float-label" style="width: 800px;">
                            <input type="text"  pInputText [(ngModel)]="ngMobileNumber"  class="form-control" placeholder="Mobile Number"   formControlName="mobileNumber">
                            <label for="float-input">Mobile Number</label>
                        </span>
                        </div> 
                        <div class="input-group mb-2  col-md-6 mt-3" >
                            <span class="p-float-label" style="width: 800px;">
                            <input type="text"  pInputText [(ngModel)]="ngFirstName"  class="form-control" placeholder="Address"   formControlName="address">
                            <label for="float-input">Address</label>
                        </span>
                        </div> 
                        <div class="input-group mb-2  col-md-6 mt-3" >       
                                <span class="me-4 mt-1" >Upload Profile picture</span>
                                <p-button label="Choose" icon="pi pi-plus" styleClass="p-button-sm" (click)="onUpload()"></p-button>
                                <label class="mt-2 ms-2">{{selectedImage}}</label>
                            </div> 
                    </div>
                </div>
                <div class="container-fluid">

                     <div class="row justify-content-center">
                            <div class="col-4 mt-3 d-flex ">
                                 <button type="submit" class="btn btn-primary  loingBtn me-2" (click)="onSaveAndNext()" >Save & Next</button>
                                 <button type="submit" class="btn btn-warning loingBtn" (click)="onClear()" >Clear</button>
                          </div>             
                  </div>
                </div>

               </form>
         </div>
    </div>
</div>

</div>

<app-file-upload 
[display]="display"
[heading]="heading"
(displayEmit)="display=$event"
(fileEmit)="onSelectFile($event)"
></app-file-upload>

<app-loading-ui [Title]="loadingTitle" [blockedDocument]="isBlock">
</app-loading-ui>